<h1>會員登入</h1>

<%= form_for(@user, url: new_sessions_path) do |f| %>
  <%= f.email_field :email, placeholder: "電子信箱" %>
  <%= f.password_field :password, placeholder: "密碼" %>
  <%= f.submit "登入" %>
<% end %>