<nav>
  <ul>
    <% if user_signed_in? %>
      Hi, <%= current_user.email %>
      <li><%= link_to "登出", destroy_sessions_path %></li>
    <% else %>
      <li><%= link_to "註冊", new_registrations_path %></li>
      <li><%= link_to "登入", new_sessions_path %></li>
    <% end %>
  </ul>
</nav>